<!doctype html>
<html>
  <head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Python Home</title>
    {% endblock %}
  </head>
  <body>
    {% block header %}

    {% endblock %}
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
            <h1>
                This website is powered by:
            </h1>
            <a href="https://www.python.org/" target="_blank">
                <img src="{{ url_for('static', filename='img/python-logo.png') }}"
                 alt="This website is powered by Python." title="Python Powered" style="max-width:450px;">
            </a>
            <br>
            <a href="http://flask.pocoo.org/" target="_blank">
                <img src="{{ url_for('static', filename='img/flask.svg') }}"
                 alt="This website is powered by Flask." title="Flask Powered"  style="max-width:400px;">
            </a>
            <br>
            <a href="http://jinja.pocoo.org/" target="_blank">
                <img src="{{ url_for('static', filename='img/jinja.png') }}"
                 alt="This website is powered by Jinja2." title="Jinja2 Powered">
            </a>
            <br>
            <br>
            &copy; Copyright 2017 by <a href="http://thebeast.me/" target="_blank">Beast</a>.
        {% endblock %}
    </div>
    <span class="typer" id="main" data-words="Beast:Beauty and the Beast...!??!!??:Bring out the Beast...?!??!!?:A powerful Beast...?!?!!!!:Beast is tested daily, and is trained by an even more powerful Beast...!?!?!?!!?!:Beast wants to be the most powerful Beast......??!?!!:A truly magical and wondrous Beast"
          data-colors="black" data-delim=":" data-delay="100" data-deleteDelay="1000"></span>
    <span class="cursor" data-owner="main"></span>
    <script src="../static/js/typer.js"></script>
  </body>
</html>